[2016-06-07 03:57] brewsoftware opened #1 "Windows build not working"
When running the build commands, "cp" doesn't exist on windows. I would suggest just piping the assets using a plugin or another command specific to npm.

[2016-06-08 07:58] prescottprue commented on #1
Didn't even consider this initially, thanks for the input!

Planning on implementing an NPM package to do this in a more graceful way.

[2016-06-08 09:09] prescottprue commented on #1
Pull Request #2 should have fixed it since it is now using [fs-extra](https://github.com/jprichardson/node-fs-extra).

Planning on releasing a new version tomorrow. I will leave this open until it is in a released version even though this PR has been merged.

[2016-06-08 09:33] brewsoftware commented on #1
No problem, nice generator though so compliments to the chef...

[2016-06-09 04:46] prescottprue commented on #1
Version v0.1.1 has been released with this fix in there, let me know if that does not fix it. Thanks for the help identifying it.

[2016-06-09 04:46] #1 closed

[2016-06-11 03:40] MrChristofferson opened #4 "Err thrown on init (yo react-firebase)"
[code]

Thank you so much for making this btw 👍

[2016-06-11 03:49] MrChristofferson commented on #4
Haaaaaaaaaa jk. Fixed after yeoman update. derp.

[2016-06-11 03:49] #4 closed

[2016-06-23 00:52] prescottprue commented on #4
Glad to help someone speed up starting with these tools!

I will make note of needing the newer version of yeoman.

[2016-06-26 15:56] russomi opened #6 "The package.json does not get generated when running yo react-firebase."
The package.json does not get generated when running yo react-firebase.

Here is what I am doing:
---
$ mkdir firebase-react-example && cd firebase-react-example
$ yo react-firebase

[code]

[2016-06-27 08:40] #6 closed

[2016-06-28 12:55] russomi opened #8 "Upgrading generated package.json versions"
Hi @prescottprue -

Thanks for getting this generator started -- I think this would be a benefit to the Firebase community since there doesn't seem to be a simple React + Firebase generator.

There are a couple of items I would like to help out with:

- [x] Update versions for generated package.json to latest (especially Material-UI) ... this will require some rework in the generated markup.
- [x]

[2016-07-06 22:28] prescottprue commented on #8
@russomi I have updated Material-UI in another project that uses this generator, so I was about to copy that over to this. How about I create a branch and place that stuff on there so we can look at it together and compare?

As for unneeded packages, I have tried to eliminate all that are not needed, but let me know if you see any that you think can easily be removed.

I love the idea of making th

[2016-07-22 23:05] #8 closed

[2016-07-27 23:19] brunowego opened #11 "Firebase app named"
I catch a warning message:

[code]

Do you know how fix it?

[2016-07-27 23:50] prescottprue commented on #11
This is due to the internals of [redux-firebasev3](https://github.com/prescottprue/redux-firebasev3) calling `firebase.initializeApp()` more than once. Currently working to fix it within that library, but it should not cause any issues.

[2016-07-27 23:52] prescottprue commented on #11
Will leave this issue open until it is solved in [redux-firebasev3](https://github.com/prescottprue/redux-firebasev3)

[2016-07-27 23:55] brunowego commented on #11
Alright, thanks for the quick reply!

[2016-07-28 00:59] brunowego opened #13 "Sign-up not working"
Both methods of sign-up not works correctly. I get the message below. You know how fix?

[code]

[2016-07-28 01:05] brunowego commented on #13
Have been enabled "E-mail/senha" and "Google" authentications methods in Firebase.

[2016-07-28 17:23] prescottprue commented on #13
Created an issue in ZenHub (trying it out for issue/task management) for this. Will hopefully be looking at it later today.

Can you post the options you selected (mostly whether you opted for redux or not) so I can better debug?

[2016-07-28 20:07] brunowego commented on #13
Yes, I selected the option with redux.

[2016-07-31 13:19] prescottprue commented on #13
#15 And the new release should have fixed the auth stuff. Let me know if you have an issue still.

[2016-07-31 13:20] prescottprue commented on #11
It is solved in https://github.com/prescottprue/redux-firebasev3/releases/tag/v0.1.0, which is in the latest 0.1.5 release of this generator.

[2016-07-31 13:20] #11 closed

[2016-08-03 18:59] prescottprue commented on #13
Since there has been no response I am assuming everything is working for you now @brunowego. Going to close this issue, but feel free to keep the conversation going or contact me directly if it didn't fix it for you. Thanks for the help in catching it!

[2016-08-03 18:59] #13 closed

[2016-10-05 19:50] darrenangle opened #17 "Module not found error after generator and npm run dev"
Ran the generator in an empty project folder, did npm install, and then npm run dev.

Getting this error:

  app:bin:server Server is now running at http://192.168.1.8:3000. +10ms
  app:bin:server Server accessible via localhost:3000 if you are using the project defaults. +0ms
webpack built 5b9379db552922766ceb in 9499ms
Hash: 5b9379db552922766ceb
Version: webpack 1.13.2
Time: 9499ms

[2016-10-05 20:12] darrenangle commented on #17
Figured it out.

In both SignupForm.js and LoginForm.js the textfield import line should be:
`import TextField from '../../../../components/TextField'`

instead of
`import TextField from '../../../components/TextField'`

[2016-10-05 20:36] prescottprue commented on #17
@darrenangle Great catch! Will make sure I fix this asap.

[2016-10-06 02:43] prescottprue commented on #17
Fixed as part of [`v0.1.8` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v0.1.8).

[2016-10-06 02:43] #17 closed

[2016-11-04 16:52] henrylingumi opened #20 "Error when setting up and starting dev server"
When trying to start the dev server for the first time:

[2016-11-04 17:25] prescottprue commented on #20
Thanks for posting. Will look into this today.

[2016-11-05 02:34] prescottprue commented on #20
Released [`v1.0.1`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.0.1) that might help.

Let me know if you get a chance to try on your end. I will keep the issue open in the mean time.

[2016-11-07 21:11] imarian97 opened #22 "Plugin 1 specified in "base" provided an invalid property of "__wrapped__""
I've generated the project using the latest version and I receive that error when I start the server:

`
ERROR in ./src/main.js
Module build failed: Error: Plugin 1 specified in "base" provided an invalid property of "__wrapped__"
    at Plugin.init (D:\Work\Platforma-Rezervari\Platforma-Rezervari\node_modules\babel-core\lib\transformation\plugin.js:131:13)
    at Function.normalisePlugin (D:\Work

[2016-11-07 21:21] prescottprue commented on #22
Are you sure that you do not have a `.babelrc` in your npm root or your bin? It seems like this might be due to babel config is being picked up from elsewhere instead of inside of project.

[2016-11-07 21:35] imarian97 commented on #22
It doesn't seem to be a .babelrc file in npm root or bin but also i don't have a .babelrc file in the generated project.

[2016-11-07 22:16] prescottprue commented on #22
Currently it isn't configured to output a `.babelrc`, since config is all within `config/webpack.config.js`. It might be necessary to add it back due to this error though.

Can you try placing this `.babelrc` within your generated project and see if it helps:
[code]

[2016-11-08 07:25] imarian97 commented on #22
I receive the same error :(

[2016-11-10 00:23] prescottprue commented on #22
Is there a way you can upload the output of the generator?

This might be a silly thing to ask, but you are in the project folder when running `npm start` right? The generator places all files within the folder that the generator is run within. It seems like you have two folders called "Platforma-Rezervari" and one is within the other.

[2016-11-10 00:25] prescottprue commented on #20
@henrylingumi Are you still seeing this issue? If so is it possible for you to upload the output of the generator in a zip file or provide a link to a repo?

Currently I am not able to reproduce this error no matter what I do, but trying to make sure it is actually solved.

[2016-11-13 18:49] oriol-nomorecode commented on #22
Found same error on macOS Sierra node@6.0.0 npm@3.8.6

I fixed it applying below changes:
- Comment line 53 from /build/webpack.config.js (favicon is missing from src/static directory so crashes when importing it)
- Remove 'lodash' plugin from compiler_babel options on line 34 from /config/index.js file.

[2016-11-14 05:46] prescottprue commented on #22
Great catch @oriol-nomorecode! Going to make the fixes/changes tonight and hopefully get out a new release tomorrow.

[2016-11-15 01:29] prescottprue commented on #22
@imarian97 I made changes based on @oriol-nomorecode's comments.

Try running `npm i -g generator-react-firebase` to update to [`v1.0.2`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.0.2) then try regenerating your project. I'll leave this issue open until we test and confirm.

[2016-11-15 01:31] prescottprue commented on #20
@henrylingumi Please try running `npm i -g generator-react-firebase` to update to the latest version, then try regenerating your project.

[2016-11-15 01:31] #20 closed

[2016-11-17 21:33] oriolsr opened #24 "Error: Cannot resolve module 'react/lib/EventPluginHub'"
[code]

[material-ui#21](https://github.com/thereactivestack/meteor-webpack/issues/21)
[react-tap-event-plugin#82](https://github.com/zilverline/react-tap-event-plugin/pull/82)

Below dependencies should be updated
material-ui@0.16.3
react-tap-event-plugin@2.0.0

[2016-11-17 22:27] oriolsr commented on #24
I've updated and fixed (defensively) both material-ui@16.0.3 and react-tap-event-plugin@2.0.0

Hope that helps!

[2016-11-18 05:24] #22 closed

[2016-11-18 10:04] prescottprue commented on #24
Should be solved by [`v1.0.3` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.0.3). Going to open a separate issue for updating dependencies including getting material-ui to `v0.16.4` and tap-event-plugin to `v2.1.0`.

[2016-11-18 10:08] prescottprue opened #27 "Update Material-UI to `>v0.16.4` and tap-plugin to `v2.1.0`"
* Material-UI to `>v0.16.4`
* tap-plugin to `v2.1.0`
### Blocked By
#### Warning
* contextType to div (seems to relate to material-ui)
![screen shot 2016-11-17 at 9 36 58 pm](https://cloud.githubusercontent.com/assets/2992224/20423986/59761c4c-ad28-11e6-9cba-44b16fafd607.png)

#### Errors

* tap plugin (similar to what you mentioned in #24, which was also experienced by another user):
![screen sho

[2016-11-18 23:17] #24 closed

[2016-12-01 05:30] Nateeo opened #29 "Invalid.json generated when opting out of redux"
If the user answers 'No' to the 'Would you like to include redux for local state-management?' question, then the generator crashes when it tries to run `npm install`

This is due to a trailing comma on the last item (`react-tap-event-plugin": "1.0.0",`) in `dependencies` inside `package.json`

[2016-12-02 19:51] #29 closed

[2016-12-02 21:17] prescottprue commented on #29
The PR fixing this is included in the [`v1.0.5` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.0.5).

Thanks!

[2017-01-24 07:56] prescottprue commented on #27
It seems that `v0.16.7` fixes the following:
* [X] Dropdown overlap
* [X] tap-plugin issues

Only warnings remain:

* [ ] Context Type on div tag warning

[2017-02-02 18:30] Venryx opened #34 "Firebase app deployed to Firebase points to localhost js files"
Following the instructions in the readme, the html file that ultimately gets uploaded to Firebase is the following:
[code]

Obviously this fails to work, as the script tags are pointing to js bundle files at "192.168.0.100", rather than the website url.

How can I configure the project to output/deploy html files that access the correct, online versions if the bundles?

[2017-02-02 18:36] Venryx commented on #34
This is the output from running `npm run build`:
[code]

I noticed this part:
[code]

Could this perhaps mean an environment variable is overriding the project's deploy url? (looking into it)

[2017-02-02 18:48] Venryx commented on #34
Okay, figured it out. You have to run `npm run build:prod`, _then_ run `firebase deploy`.

The readme file should probably be updated; instead of saying:
```7. Deploy to firebase: firebase deploy```
it should say:
```7. Deploy to firebase: A) npm run build:prod B) firebase deploy```

[2017-02-02 18:53] prescottprue commented on #34
Correct. Will update the docs for clarity.

If you opt into travis config then your `.travis.yml` will include the config to deploy directly from Travis (if you set your token to the `FIREBASE_TOKEN` env variable) with the capability to deploy to different Firebase instances by using different branches.

[2017-02-02 18:53] #34 closed

[2017-02-07 03:44] CarreraPHP opened #35 "can u provide the Firebase decorators docs..."
Hi prescottprue,

The decorator way of working with Firebase seems to be more comfortable way. Can you provide docs/api for the same. As this is very similar to the way i use to work with angular version2, I am finding it very easy to work with.

Btw, This is one of the Largest(LOC) generator i have used in recent times. It took me some time to under the flow of the application as i am new to Reac

[2017-02-07 06:52] prescottprue commented on #35
@CarreraPHP If you opt into using redux, decorators are used. See [the example with redux](https://github.com/prescottprue/generator-react-firebase/tree/master/examples/react-firebase-redux).

[Here are some being used in the `ProjectContainer`](https://github.com/prescottprue/generator-react-firebase/blob/master/examples/react-firebase-redux/src/routes/Projects/containers/ProjectsContainer.js#L19

[2017-03-13 11:58] Venryx opened #36 "Compile error stack traces are missing source file name"
When running "npm run dev" in a console, with code that causes a compile error, this is what is shown in the console:
![](http://i.imgur.com/YGzp4cB.png)

As can be seen, it doesn't say anywhere what source file has the issue!

My project was started from this template, and as far as I remember, this issue was present from the start. It's possible I configured something wrong -- though it was pret

[2017-03-13 12:03] Venryx commented on #36
Okay, so I found the compile errors:
![](http://i.imgur.com/Gl1uIqC.png)

As shown, the _lines_ referenced in the compile error were correct, but just the filenames were missing for some reason.

[2017-03-13 18:27] prescottprue commented on #36
Have you recently run `npm i -g generator-react-firebase` to update the generator?

If there is still an issue, I am working on `v1.2.0` that should fix any small file reference issues.

[2017-03-13 18:27] #35 closed

[2017-03-15 19:23] MadeInMoon commented on #24
What worked for me:
- delete the `node_modules/` folder
- `npm install`

[2017-03-15 21:41] prescottprue commented on #24
@MadeInMoon Yes, that should fix it in an already generated project. If you update using `npm i -g generator-react-firebase`, then future projects should be good from the start.

[2017-03-16 12:01] Venryx commented on #36
Okay, I tried creating a new project using the generator (without updating it), and it correctly shows the stack traces of compile errors.

So apparently I did mess something up when I was configuring/setting-up my project.

I will investigate, but since it was probably just my fault somewhere, I guess I'll close the issue. (and if I find out what change caused it, I'll mention it here)

[2017-03-26 09:59] #27 closed

[2017-03-26 10:07] prescottprue commented on #27
[Version v1.2.0](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.2.0) includes material-ui v0.17.0.

[2017-03-30 02:48] rafaelcorreiapoli opened #38 "Wrong link README.md?"
There is a link on your README to redux-react-firebase
Shouldn't it be react-redux-firebase?

[2017-04-03 07:23] prescottprue commented on #38
Great catch, thanks for reporting. [v1.2.1 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.2.1) including fixing the readme.

[2017-04-03 07:23] #38 closed

[2017-04-05 05:38] prescottprue opened #40 "source-mapped Stacktrace in Redbox"
Originally reported by @phiiil in [#108 of react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/issues/108).

### Original Post By @phiiil

I'm having an issue where the stack trace is not displaying the sources files and line numbers using the sourcemap. I generated a project using Yeoman. I get the same issue with the material example. Both in Chrome 56 and Firefox 47.

![i

[2017-04-05 05:49] prescottprue commented on #40
As I was starting to say in the original issue:

### For Now
The image you have posted is pointing you to the `NewTodoPanel` component, so I would check there first.

Also, If you click on line that says `NewTodoPanel.render`, it should open the app bundle in the browser and bring you to the line of code within the bundle.

### Plans
Will look into what it will takes to change Redbox (the tool dis

[2017-04-08 23:58] Venryx commented on #36
I fixed it! Finally.

All I did was remove this line from the `webpack.config.js` file:
[code]

So I get that the above helps when running the tests, by just showing the compile errors instead of the would-be-confusing test-errors on top of that (I think). But I must have something set up wrong, because this occurs also for normal webpack-watch builds.

And this has been _terrible_.  Whenever I ma

[2017-04-09 00:03] Venryx commented on #36
Oh, looking at the code above, I just realized why it was showing the error messages but not the stack-traces. It's because of this code:
[code]

It should be this:
[code]

So that would have helped, by at least making the errors more trackable.

However, having the process crash on syntax errors is the second (and more serious) issue. For the template, perhaps we could just have the "throw" line

[2017-04-13 08:47] prescottprue commented on #36
[Release v1.2.2](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.2.2) has the changes that fix this.

Great catch, thanks for reporting!

[2017-04-13 08:47] #36 closed

[2017-04-13 08:49] prescottprue commented on #40
[Release v1.2.2](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.2.2) has the changes that fix this issue.

Releated to #36

[2017-04-13 08:49] #40 closed

[2017-04-15 06:03] udev opened #42 "Failed to load resource: net::ERR_CONNECTION_REFUSED"
I was able to successfully generate a project, build, run, and deploy yesterday.

Today I made a few changes and have been unable to successfully call `firebase serve` and render the site. I went as far as starting an entirely new project with the same result.

Upon calling `firebase serve` I get the following:

[code]

but in the browser nothing is rendered and oddly enough the server seems to be

[2017-04-15 09:25] prescottprue commented on #42
Did you call `npm run build:prod` first? If you are doing `firebase serve` you will need to build all the static version (`dist` folder).

Port 3000 is if you run `npm start` which runs a live reloading & hot module reloading development server.

[2017-04-15 14:53] udev commented on #42
Thanks. It ended up being a compound problem but I was definitely mixing up `npm start` and `firebase serve`. Additionally the error still occurs when attempting to use `npm start` in Chrome while [HTTPS Everywhere](https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp?hl=en) is enabled so that was throwing me off. Definitely my fault for forgetting that I had

[2017-04-15 14:53] #42 closed

[2017-04-15 22:53] kshahbazk opened #43 "fbReduxSettings is not defined"
See this error when trying to update display name:

`Uncaught ReferenceError: fbReduxSettings is not defined
    at Account._this.updateAccount (webpack:///./src/routes/Account/containers/AccountContainer.js?:92:21)
    at doSubmit (webpack:///./~/redux-form/lib/handleSubmit.js?:39:18)
    at handleSubmit (webpack:///./~/redux-form/lib/handleSubmit.js?:101:14)
    at Form.submit (webpack:///./~/re

[2017-04-16 00:30] udev opened #44 "react-router documentation links return 404"
A couple of links to react-router documentation are broken

Under the [Routing](https://github.com/prescottprue/generator-react-firebase/tree/master/examples/react-firebase-redux#routing) section: [route definitions](https://github.com/reactjs/react-router/blob/master/docs/API.md#plainroute)

And under [Static Deployments](https://github.com/prescottprue/generator-react-firebase/tree/master/exampl

[2017-04-16 01:53] kshahbazk commented on #43
Have a pull request that could possibly fix this:
https://github.com/prescottprue/generator-react-firebase/pull/45/files

[2017-04-16 03:24] prescottprue commented on #43
@kshahbazk Thanks, I just caught this yesterday myself. The fix is already in [ the `v1.2.3` branch](https://github.com/prescottprue/generator-react-firebase/tree/v1.2.3). Should be released some time later tonight.

[2017-04-16 07:08] #43 closed

[2017-04-16 07:08] #44 closed

[2017-04-16 07:10] prescottprue commented on #44
Fix included in [`v1.2.3` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.2.3)

[2017-04-16 07:10] prescottprue commented on #43
Fix included in [`v1.2.3` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.2.3)

[2017-05-28 01:53] emattson opened #48 "Fix "suspicious-website" in /examples/react-firebase-redux/README.md"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`[Starting out with react-redux-starter-kit](https://suspicious.website/2016/04/29/starting-out-with-react-redux-starter-kit/)` Is a bad link

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://jsfiddle.net or similar.**

[2017-05-28 07:16] prescottprue commented on #48
Yeah, it seems that the whole README might need a bit of updating. I should be able to get to it soon.

[2017-06-06 19:23] prescottprue commented on #48
@emattson [`v1.2.5`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.2.5) was released with this link removed. There are other enhancements in `v1.2.5` as well as other README simplifications.

Don't forget to run `npm i -g generator-react-firebase` to update the generator to the new version before running `yo react-firebase`.

[2017-06-06 19:23] #48 closed

[2017-07-01 12:05] Barath-prakash commented on #13
O {code: "auth/argument-error", message: "signInWithEmailAndPassword failed: First argument "email" must be a valid string."}
how fix this problem?? please help me

[2017-07-01 12:06] Barath-prakash commented on #13
@prescottprue

[2017-07-01 12:07] Barath-prakash commented on #13
my code is here,
weddsApp.controller('loginCtrl', ['$scope','jwtTokenValue','$ionicPopup','$firebaseAuth',
                           function ($scope, jwtTokenValue, $ionicPopup,$firebaseAuth) {

	  $scope.userLogin = function(email, password){
		  console.log(email);
		  console.log(password);
		  firebase.auth().signInWithEmailAndPassword(email, password).then(function(data) {
			   console.log

[2017-07-01 21:42] prescottprue commented on #13
@Barath-prakash I don't believe what you are seeing is related to this issue.

1. It is difficult to understand where an issue may be coming from without a full reproduction of the error.
2. Not sure where you are getting `firebase` from in that snippet
3. Using the Firebase instance separately will not yield what you are expecting in redux state

Please open a new issue with more details includin

[2017-07-03 05:05] Barath-prakash commented on #13
Please open a new issue with more details including a whole reproduction
Okay... i will

[2017-07-03 05:14] Barath-prakash opened #50 "log in not working"
O {code: "auth/argument-error", message: "signInWithEmailAndPassword failed: First argument "email" must be a valid string."} This is error whenever i logged in.....
**my code is below**
app.js

angular.module('starter', ['ionic', 'starter.controllers','ui.router','ngCookies','firebase'])

.run(function($ionicPlatform) {
	$ionicPlatform.ready(function() {

		if (window.cordova && window.cordova.pl

[2017-07-03 05:25] Barath-prakash commented on #50
Onemore thing If i give ng-click like this
ng-click="userLogin(email,password)

Ther error is:

www.googleapis.com/identitytoolkit/v3/relyingparty/verifyPassword?key=AIzaSyBxc8NxxluPf7eDwxbIE3WoVxKxaY8MBtE:1 POST https://www.googleapis.com/identitytoolkit/v3/relyingparty/verifyPassword?key=AIza
SyBxc8NxxluPf7eDwxbIE3WoVxKxaY8MBtE 400 ()

Uncaught O {code: "auth/user-not-found", message: "There is

[2017-07-03 06:23] prescottprue commented on #50
@Barath-prakash The implementation and code snippets you are showing do not really line up with usage of this repository (a generator that uses react`, `redux`, and `react-redux-firebase`).

It seems like you are showing Angular 1 code interacting with the Firebase library and AngularFire. From what I see, there is no importing of React, Redux, or react-redux-firebase, which means you may be in th

[2017-07-03 06:23] #50 closed

[2017-07-03 06:30] Barath-prakash commented on #50
Okay Thanks...

[2017-07-05 10:28] davej opened #51 "Log-in not recognised when no display name"
When adding a user through the Firebase admin it does not populate fields such as username or display name (just email). This generator will log in correctly but the main nav is not updated. See screenshot attached:

![logged-in](https://user-images.githubusercontent.com/26971/27860537-f8fd6670-6174-11e7-8523-0e19f1fb1e75.png)

[2017-07-05 10:34] prescottprue commented on #51
@davej This is because the Navbar points to data which is within the `users` collection due to config telling `react-redux-firebase` to do that.

It is possible to show Account dropdown in the Navbar even if no profile is available, is that what you are suggesting the behavior should be?

Thanks for the input, if I am understanding correctly, this shouldn't be too difficult to implement.

[2017-07-05 10:44] davej commented on #51
Yes, even if there is no profile data then I think the main nav should still be in the 'logged-in' state. Is it possible to also fallback to display the email address when the display name isn't available?

[2017-07-16 06:06] prescottprue commented on #51
[`v1.3.0`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.3.0) was released with this and a ton of other improvements.

Now no account is supported, as well as one without a display name. Also, the avatar/buttons do not appear until data is loaded now, so there is no flicker.

[2017-07-16 06:06] #51 closed

[2017-07-16 08:54] prescottprue commented on #51
[`v1.3.1`] also includes the change. It also uses prop-types instead of getting it from react, which makes the warnings disappear.

[2017-07-24 20:08] morten-hogseth opened #56 "NotFound does not export"
`NotFound.js`

Guess you guys forgot to export NotFound =)

export default NotFound

[2017-07-24 21:35] prescottprue commented on #56
@morten-hogseth good catch, thanks for posting the issue. Making the fix now, and will release later today.

[2017-07-25 04:57] prescottprue commented on #56
[`v1.4.1`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.4.1) was released with a fix for this.

Remember to run `npm i -g generator-react-firebase` to get the new version. Thanks for reporting!

[2017-07-25 04:57] #56 closed

[2017-08-03 13:34] bslayerw opened #59 "bug(yarn): Error when using yarn in newly created project"
**Do you want to request a *feature* or report a *bug*?**
bug report

**What is the current behavior?**
After creating an initial project and running `npm start`. Open browser at localhost:3000. Javascript console reports `Uncaught SyntaxError: Unexpected token <`. It looks like HTML in js files. You are presented with a blank screen. Tests and passing and linter is not producing any errors. Perha

[2017-08-03 17:38] prescottprue commented on #59
@bslayerw This does seem to be an issue with webpack, but not positive.

A few other questions to help me debug:
* Are you able to run [the example project](https://github.com/prescottprue/generator-react-firebase/tree/master/examples/react-firebase-redux)?
* What version of Node are you running?
* What options did you select when generating?

[2017-08-03 17:56] bslayerw commented on #59
I'll give the example projects a try.

[code]
include tavis: Y
Would to include redux for local state-management? Y
What service are you deploying to? (Use arrow keys) Firebase
Use Yarn? Y

[2017-08-03 18:05] bslayerw commented on #59
I just clone the repo and attempted to run the react-firebase-redux example:

[code]

[code]

[2017-08-03 22:57] prescottprue commented on #59
Could you try npm for installing instead? Going to check with yarn, but the lock file may not be up to date if everything isn't being installed.

[2017-08-03 23:50] bslayerw commented on #59
okay I created a new project. I skipped the yarn option and ran `npm start`. That fixed it! I did not use node `v6.11.1` and stayed on node `v8.1`.

[2017-08-04 00:09] prescottprue commented on #59
Hmmmmm... That is not intended, but great to know!

So just to confirm:
* The es2015 error you were seeing was when you were running the example after npm installing (not yarn)?
* Generating a new project only worked when you didn't use yarn?

If those are both true: What version of `yarn` are you running?

I am not able to replicate the yarn install breaking the example, so wondering if it relate

[2017-08-04 00:12] bslayerw commented on #59
The es2015 error was happening when running the example. That was installed with yarn.

Yes. Using `npm install` and `npm start` resolved the issue.

[code]

[2017-08-10 16:35] davej opened #61 "Add index.js to components/containers for easier module referencing"
For example:

[code]

What do you think? Good idea or bad idea?

[2017-08-25 05:04] prescottprue commented on #61
Isn't that [this file here?](https://github.com/prescottprue/generator-react-firebase/blob/master/examples/react-firebase-redux/src/containers/Navbar/index.js). Or am I missing something?

Was there a particular `index.js` missing?

[2017-08-25 12:00] davej commented on #61
Sorry, should have been more clear. I mean when you run a sub-generator, i.e.. `yo react-firebase:component NavBar`

[2017-08-25 16:35] prescottprue commented on #61
@davej Should be easy enough to add. Thanks for reporting!

[2017-08-30 10:35] phoenixrip opened #62 "Any change in redux store is re-rendering unaffected components."
*bug*?*

**What is the current behavior?**
I have a testCounter in my redux state. If I update the test counter every component that has been @firebaseconnected and then @connected will have a re-render triggered, even though none of them are @connected to the testCounter part of my redux state.

For Example:
In the following project build with this generator, a re-render will be triggered on ever

[2017-08-30 16:18] prescottprue commented on #62
@phoenixrip Unnecessary re-renders it an issue that has been tracked to be related to the fact that `v1.*.*` uses immutablejs.

As you mentioned, you can use shouldComponentUpdate to manage this, but if you don't want to have that logic, you may want to [check out the `v2.*.*` syntax of react-redux-firebase](http://docs.react-redux-firebase.com/history/v2.0.0/).

There will soon be a `v2.0.0` of t

[2017-09-05 22:04] phoenixrip commented on #62
Thank you so much for a swift and concise response on this. I will certainly look into migrating over to react-redux-firebase 2.0.0 soon, love the idea of being able to persist the store as well.

[2017-09-06 08:34] prescottprue commented on #61
@davej Added in [`v1.4.4`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.4.4).

Future issue -> solution time should hopefully be quicker, I have just been super busy with [`react-redux-firebase`](https://github.com/prescottprue/react-redux-firebase) recently.

[2017-09-06 08:34] #61 closed

[2017-09-06 08:47] prescottprue commented on #62
@phoenixrip This seems it would fit more in the [react-redux-firebase](https://github.com/prescottprue/react-redux-firebase) repo, so I am going to close.

There has been large adoption of v2, so I definitely suggest going that route. As for things you can do for performance if you stick with v1:

* `dataToJS` does not need to be used in the connect function or at all for that matter - state in v1

[2017-09-06 08:47] #62 closed

[2017-09-06 09:01] prescottprue commented on #59
Can you try updating to [v1.4.4](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.4.4) and see if it solves the issue for you?

The way that the build config is setup was changed/improved in v1.4.3 with the move to webpack 3, so hopefully that fixes the error (which seems to relate to babel/webpack).

[2017-09-18 00:08] dfrho opened #64 ""injectTapEventPlugin() must immediately precede ReactDOM.render()""
**Do you want to request a *feature* or report a *bug*?**
Bug? - I'd be happy to generate the fix and pull request. Great work by the way, and thank you.

**What is the current behavior?**
I have the redux-generated option. On page load it throws console error from redbox library saying injectTapEventPlugin() must immediately precede ReactDOM.render(). This happened after I changed some material U

[2017-09-18 02:23] prescottprue commented on #64
@dfrho Great find! It would be awesome if you wanted to open a pull request, otherwise I will try to get to it this week.

[2017-10-27 10:43] prescottprue commented on #64
[`v1.4.5`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v1.4.5) includes the fix for this. Thanks for reporting.

[2017-10-27 10:43] #64 closed

[2017-10-27 10:45] prescottprue commented on #59
The current plan is to remove the question that asks if yarn should be used. npm5 is faster now and has a `package-lock.json`, so that will be the default.

Will leave this issue open until the question/support for yarn is removed completely.

[2017-12-11 01:32] prescottprue commented on #59
Is anyone able to still replicate this?

It seems like this can occur if you have a root level `.babelrc` file since all of the build config lives within the `project.config.js` file of this generator. Apparently with Webpack you can set `babelrc: false` in the config to disable listening to `.babelrc` files, so the plan is to include that in the next major release.

Since I was not able to replic

[2017-12-11 09:51] prescottprue commented on #59
The [`v2.0.0-beta` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.0.0-beta) includes the `babelrc: false` config option. Going to close for now, if anyone is able to replicate - reach out.

[2017-12-11 09:51] #59 closed

[2017-12-11 09:57] prescottprue opened #73 "bug(build): travis global install through yarn sometimes fails"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In some situations, global install of `firebase-ci` can fail with the new build config. The resulting bug looks like so:

![image](https://user-images.githubusercontent.com/2992224/33825512-b0b978f8-de16-11e7-8223-e1fc37bd2d5f.png)

**What is the expected behavior?**
Global install should always pass,

[2017-12-14 06:51] #73 closed

[2018-01-06 21:40] prescottprue opened #81 "feat(build): auto-chunk assets (such as routes)"
Auto-chunk assets like routes using [`import` instead of `require.ensure`](https://webpack.js.org/guides/migrating/#code-splitting-with-es2015) (supported in Webpack 2)

Current Status:

* [X]  example of how to follow the pattern - @qalqi has provided [this example gist](https://gist.github.com/qalqi/ef4cbbc549631e64188266f0556be05f) of doing it with JSX routes
* [ ] research whether JSX or plain

[2018-01-07 16:35] qalqi commented on #81
We can do that with JSX router similar to <Route path={ACCOUNT_PATH} getComponent={spinnerWhileAsyncRouteLoading(['importAccount'])}></Route>

[2018-01-07 16:37] qalqi commented on #81
In case of nested routes with null object we can add specific error cases limited to that view with JSX routes... `<Route path={LIST_PATH} getComponent={importProjects}> <Route path=":projectname" getComponent={importProject}></Route> <Route path='*' exact={true} getComponent={importProjectNotFound}/> </Route>`

[2018-01-07 16:43] qalqi commented on #81
Decoupling containers and routes will be useful with isomorphic react server side rendering

[2018-01-07 19:31] prescottprue commented on #81
@qalqi Great input, and really love the idea of switching to `import` of `require.ensure`.

Still not sure I understand the advantage of using JSX over Plain route objects though. Both support what you are describing with specific error cases limited to certain views.

If we dive into the source of `react-router` we see that [the `Router` component actually just builds the plain route object inste

[2018-01-08 10:03] qalqi commented on #81
Here is an issue where plain js is biting https://github.com/ReactTraining/react-router/pull/3153

[2018-01-10 22:44] hcwiley opened #82 "Route for project/${project.id} is dead"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Project page has no data from firebase store project.

**What is the expected behavior?**
It should display the project name and then the json below that

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
I would image

[2018-01-10 22:45] hcwiley commented on #82
I'm not sure why this is using [firebaseConnect](https://github.com/prescottprue/generator-react-firebase/blob/master/examples/redux-firestore/src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.enhnacer.js#L6) when the project is made using [firestore](https://github.com/prescottprue/generator-react-firebase/blob/master/examples/redux-firestore/src/routes/Projects/components/Pro

[2018-01-10 22:48] hcwiley commented on #82
to be clear, i ran ```yo react-firebase``` and did the additional setup with material, firestore.

[2018-01-10 23:40] prescottprue commented on #82
@hcwiley You are correct, when selecting Firestore, it should use `firestoreConnect` instead of `firebaseConnect.

[2018-01-10 23:52] hcwiley commented on #82
I've changed the [ProjectPage.enhancer.js](https://github.com/prescottprue/generator-react-firebase/blob/master/examples/redux-firestore/src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.enhnacer.js) to look like this and it is working:

[code]

[2018-01-11 07:59] prescottprue commented on #81
Just as a note, I was able to get child routes working like so:

[code]

Still planning to use JSX at the top level as you were saying, but figuring out child routes was holding me up.

[2018-01-11 08:33] qalqi commented on #81
[code]
if you are using JSX there is no need for getChildRoutes

[2018-01-11 09:51] prescottprue commented on #81
@qalqi I understand that with the JSX pattern, but I was looking for a way to have configuration still live within the route itself (allowing for easy movement between parent/child routes).

[2018-01-13 04:29] prescottprue commented on #82
@hcwiley The changes that you mentioned have been added, and published [in `v2.0.0-rc.2`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.0.0-rc.2). Don't forget to update using `npm i -g generator-react-firebase` otherwise you will not get the changes.

Let me know if it doesn't work as intended for you, thanks for reporting!

[2018-01-13 04:29] #82 closed

[2018-01-24 14:40] qalqi commented on #81
@prescottprue Now that we are working this feature. Can we show a react reducer loading progress of webpack chunks in CoreLayout? Something similar to Github linear loading using 'material-ui/LinearProgress';

[2018-01-24 15:02] qalqi commented on #81
A NPM library in these lines https://github.com/Storytel/react-redux-spinner

[2018-02-02 18:40] dustingraves opened #84 "Generator logic fails for src/config.js"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The output of the generator in `src/config.js` from [https://github.com/prescottprue/generator-react-firebase/blob/master/generators/app/templates/src/config.js#L24](line 24)
prints `truefalse` if you select redux.

**What is the expected behavior?**
It should print true or false

**Which versions of d

[2018-02-02 18:41] dustingraves commented on #84
[code]

[2018-02-03 04:11] prescottprue commented on #84
@dustingraves did you select to use Firestore or no?

[2018-02-05 20:54] dustingraves commented on #84
@prescottprue I did select to use firestore

[2018-02-09 04:26] prescottprue commented on #84
Fixed in [`v2.0.0-rc.3`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.0.0-rc.3). Thanks for reporting.

[2018-02-09 04:26] #84 closed

[2018-04-02 14:04] mylnz opened #88 "SyntaxError: src/indexUser/index.js: Expecting Unicode escape sequence \uXXXX (48:51)"
SyntaxError: src/indexUser/index.js: Expecting Unicode escape sequence \uXXXX (48:51)
  46 |
  47 |   const data = event.data.data()

remove the '\' character.

[2018-04-04 09:05] prescottprue commented on #88
Fixed as part of [`v2.0.0-rc.6` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.0.0-rc.6). Reach out if it isn't working as expected. Thanks for reporting!

[2018-04-04 09:05] #88 closed

[2018-04-04 13:10] flyingguitarman opened #90 "HomePage.js looks for Home.scss"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
updated generator this morning, started a new project without Material-UI, installed dependencies, ran npm start threw error. The SCSS file is still named Home.scss

**What is the expected behavior?**
It should be looking for HomePage.scss

**Which versions of dependencies, and which browser and OS are

[2018-04-04 18:17] prescottprue commented on #90
@flyingguitarman Looks like the late night release last night was not the move! On the fix now, thanks for reporting.

[2018-04-04 20:10] prescottprue commented on #90
Fixed as part of [`v2.0.0-rc.7` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.0.0-rc.7). Reach out if things aren't working as expected, thanks.

[2018-04-04 20:10] #90 closed

[2018-04-09 08:51] Panepo opened #92 "Generator throws an error while starting project"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Installed generator today, started a project and an error occurred.

[code]

**What is the expected behavior?**
There should be no error?

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
Win10 (Build 16299)
node 8.9.

[2018-04-09 16:45] prescottprue commented on #92
Thanks for reporting. Did you use yarn or npm?

It seems like we weren't getting an error message on something. Could you pull down the [`v2.0.0-rc.8` branch](https://github.com/prescottprue/generator-react-firebase/tree/v2.0.0-rc.8) and try npm linking (make sure they are the same node version)?

[This section of the react-redux-firebase docs](http://react-redux-firebase.com/docs/contributing.htm

[2018-04-10 03:30] Panepo commented on #92
Thanks for replying. I use npm.

Another error occurred with the following commands:
[code]
The error message is:
[code]
Is there anything I am doing wrong?
Thanks

[2018-04-10 06:47] prescottprue commented on #92
The different error is "good" in the sense that it is somewhat helpful in debugging. Just a theory, but may potentially be the case of Yarn not existing may be handled a little differently on windows.

Pushed some changes to that same branch. Could you pull that same branch and repeat the linking steps.

Hoping that you see the log `"Yarn does not exist. Using NPM to install dependencies..."` then

[2018-04-10 07:42] prescottprue commented on #92
Just pushed changes up to the `v2.0.0-rc.8-install` branch that only offer yarn as an install option if it is available. Hopefully this fixes things in an even more graceful way.

Please let me know if you get a chance to try either/both.

[2018-04-10 08:32] Panepo commented on #92
Just started two projects successfully with two respective branches linked: `v2.0.0-rc.8` and `v2.0.0-rc.8-install`

Thanks a lot.

[2018-04-10 08:32] #92 closed

[2018-04-10 18:02] prescottprue commented on #92
Nice! Glad to hear, thanks for testing!

I'm going to go the route of merging the `v2.0.0-rc.8-install` branch (since it is a little more clean to only offer yarn if it exists).

[2018-04-11 06:48] Panepo opened #94 "Error occurred while running npm scripts"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The first error occurred while running scripts: `npm run lint`
[code]
This error is not shown after modify the prettier config of `.eslintrc`
[code]

The second error occurred while running scripts: `npm run test`
[code]
This error is not shown after modify `.\tests\routes\Home\components\Home.spec.js`

[2018-04-11 07:11] prescottprue commented on #94
The lint issue does not appear on some versions of node, but I was able to replicate under 6.11.5, so we will switch it back to `'none'`.

As for the test errors, seems like that was due to a recent component name change.

Something else to note:
Work has started to offer Jest as an option for test framework (available [on the `jest` branch](https://github.com/prescottprue/generator-react-firebase

[2018-04-11 07:25] prescottprue commented on #94
Fixed in v2.0.0-rc.9 release and examples have been updated. Thanks for reporting.

[2018-04-11 07:25] #94 closed

[2018-04-15 15:18] 3dhoorbin opened #96 "Series Of Errors When Installing. Any Solutions ?"
npm WARN deprecated material-ui-icons@1.0.0-beta.36: Use @material-ui/icons instead
npm WARN deprecated formatio@1.2.0: This package is unmaintained. Use @sinonjs/formatio instead
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
events.js:165░░░░░░⸩ ⠼ extract:react-dom: sill extract extract-zip@1.6.6
      throw er; // Unhandled 'error' event
      ^

Error [ERR_STREAM_WRITE_AFTER_END]

[2018-04-16 00:01] prescottprue commented on #96
Hmm. I am not able to reproduce on node version `v6.11.5`, `8.6.0`, or `9.10.1`.

What version of node/npm are you running? Are you installing with yarn or node? Was this on a global install?

[This issue](https://github.com/npm/npm/issues/19989) may be related.

[2018-04-18 02:06] dustingraves opened #97 "form generator double prints `Form` i.e: `<myNewForm>FormForm.scss`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
the .scss file reference doubles the word `Form`
[code]
[code]
**What is the expected behavior?**
Only print `Form` once.
[code]

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
I am using `generator-react-firebase@v

[2018-04-18 02:10] dustingraves opened #98 "reduxForm is not defined"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
when using the form generator it does not import `redux-form` in the enhancer

**What is the expected behavior?**
it should add an `import` statement for `redux-form`

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**

[2018-04-20 07:51] prescottprue commented on #96
Were you able to switch node versions and try again? Are you using NVM?

[2018-05-15 08:49] prescottprue commented on #96
Ping.

[2018-05-22 13:41] incrediapp commented on #96
Just a note here: I had node version 8.9.1 and encountered the same issue. Upgrading to Node 8.10.0 fixed the problem for me (as suggested in @prescottprue's comment).
Thanks!

[2018-06-07 05:14] dustingraves opened #101 "bug(deps): dependency issues when opting into tests with upgraded generator"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
After a fresh install of the generator, there are package dependency issues.
[code]
If you attempt to run `npm test` you get 9 `Module not found` errors relating to the dependency issues

**What is the expected behavior?**
It should have the required dependencies in package.json and not error

[2018-06-07 05:38] prescottprue commented on #101
@dustingraves How do you feel about Jest? I started moving the tests over to that on the `jest` branch for snapshot testing support along with easier dependency management.

I think it may be easier to switch over than figure out all of the correct updates without breaking things, but not totally sure.

[2018-06-07 06:35] dustingraves commented on #101
I haven't used `Jest`, but it looks pretty good. I was able to fix all of the dependencies. It only took me a few hours of googling...

### tests/test-bundler.js
[code]

### package.json
[code]

### tests/layouts/CoreLayout.spec.js
[code]
The only straggler is redux-form.

[2018-06-07 06:43] dustingraves commented on #101
The alternative to the `core-js` implementation was a `babel-polyfill` and reference it in the files import of the karma config.

[2018-06-07 16:46] prescottprue commented on #101
Well, since you were able to fix it so quick, we can just go that route. Thanks for posting all the info!

[2018-06-08 04:11] dzoba opened #103 "Missing material-ui on a new install"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Though I selected material-ui as an option, I still got:
![image](https://user-images.githubusercontent.com/857664/41138610-4cd000a6-6a97-11e8-8677-703dd34c1b7a.png)

**What is the expected behavior?**
material-ui is in package.json when option is selected

**Which versions of dependencies, and which b

[2018-06-08 23:17] prescottprue commented on #103
If you picked the default options in generator then both `@material-ui/core` and `@material-ui/icons` are installed by default (the [new pattern for material ui v1](material-ui.com)). If you have a project with existing material-ui code that is from before the v1 release, you can opt out of material-ui v1 (in feature options) - this will install `material-ui` with version `v0.20.0`.

[2018-06-08 23:17] #103 closed

[2018-06-09 18:22] prescottprue commented on #101
Based on your input I was able to make changes that fix the tests (will go out in `v2.0.1`). Something else to note: tests are not included by default as of `2.0.0`, but they are a feature option. If you want to include tests or their dependencies, make sure to select this option.

[2018-06-09 19:13] #101 closed

[2018-06-11 19:05] prescottprue opened #105 "feat(component): component templates aware of dependencies and lint config"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
When calling `yo react-firebase:component` a component is inserted. The templates for this component use `js-standard` lint config. The linting

**What is the expected behavior?**
* component code matches linting style (i.e. support Airbnb style linting)
* `PropTypes` is loaded from `react` if `pro

[2018-06-11 20:20] petermiles commented on #105
I'll pick this up.

[2018-06-17 12:40] Ortimis opened #107 "Problems with deeply nested async routes"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Integrating async routes with the getChildRoute method works like a charm. However integrating more deeply nested routes like `/projects/:id/settings` reveals some problems: The route is properly loaded as the `nextState` in `getComponent(nextState, cb)` shows `0
:
{path: "/", component: ƒ, indexRoute:

[2018-06-18 03:14] prescottprue commented on #107
@Ortimis Did you make sure to include a `props.children` within your parent's render? If not, your child routes will not render. [That is currently happening for you in the projects page](https://github.com/prescottprue/generator-react-firebase/blob/master/examples/react-firebase-redux/src/routes/Projects/components/ProjectsPage/ProjectsPage.js#L21) when using the generator.

React's `cloneElement

[2018-06-18 11:43] Ortimis commented on #107
Oh right, that's it! Thank you so much

[2018-06-18 11:43] #107 closed

[2018-06-27 01:26] #96 closed, assigned to nobody

[2018-06-28 10:28] #105 closed

[2018-07-01 21:55] dustingraves opened #110 "Feature Request - Add localized MUI theming"
With support added for the main theme customization of material ui, it would be nice to add an option for a localized theme configuration.

Currently I skip creating scss and add a `__name__.style.js` in the enhancer I use withStyles from material ui and apply the style from the `__name__.style.js file`.

[code]
[code]

[2018-07-02 07:02] prescottprue commented on #110
@dustingraves After looking at the material-ui docs a bunch, it seems like it might make more sense to call it `__name__.styles.js` since there can be multiple styles in there, so I went with that. Open to changing it though.

[`v2.0.5`](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.0.5) was published with a new question that now asks if you want localized MUI theming. L

[2018-07-02 07:02] #110 closed

[2018-07-02 22:30] dustingraves commented on #110
That works great. Just nice to have the option in there.

[2018-07-08 08:14] Edw1nLee opened #112 "Endless loading after signin"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
continue loading after login with a new instance

**What is the expected behavior?**
user able to check account page or project page as same as material example

**Which versions of dependencies, and which browser and OS are affected by this issue? Did this work in previous versions or setups?**
Chrome

[2018-07-08 10:33] #112 closed

[2018-07-09 19:33] prescottprue commented on #112
@Edw1nLee Did you end up figuring out what the issue was? Is there something that could be added to the docs to make it more clear?

[2018-09-11 07:32] muzajoji opened #119 "Getting userAdditionalInfo"
I am looking to add a component to be displayed when logging in for the first time. How can I use the userAdditionalInfo mentioned here?

https://firebase.google.com/docs/reference/android/com/google/firebase/auth/AdditionalUserInfo

[2018-09-11 18:02] prescottprue commented on #119
The provided link seems to point to Firebase's Android SDK Reference, where generator outputs a web app.

That said, creating a component that is shown when the user is first logged in is as easy as just storing a parameter on the user's profile.

[2018-09-15 04:41] #119 closed

[2018-09-16 23:55] dustingraves opened #120 "New ProjectPage.enhancer is broken"
**Describe the bug**
Commit states `getVal` was changed to lodash `get` but `get` is not imported. `getVal` is still being imported and lint validation fails.

**To Reproduce**
Steps to reproduce the behavior:
Generate a new project and run `npm run lint` or just go look at `src/routes/Projects/routes/Project/components/ProjectPage/ProjectPage.enhancer`

**Expected behavior/code**
`get` should be

[2018-09-17 00:15] prescottprue commented on #120
Thanks for reporting

[2018-09-17 03:10] prescottprue commented on #120
The [v2.1.1 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.1.1) has this fix and a few others. Make sure to run `npm i -g generator-react-firebase` to get then update. From there you should be able to run the generator again and only accept changes on the files you wish up update (if you have been making changes since then).

Thanks again for reaching out with th

[2018-09-17 03:10] #120 closed

[2018-09-21 17:45] dustingraves opened #122 "Form generator uses old material-ui/Button import"
**Describe the bug**
When generating a new form it uses the old Button import instead of the v1.x `@material-ui/core`

**To Reproduce**
Steps to reproduce the behavior:
1. run `yo react-firebase:form newForm`
2. go to new component and look at `components/newForm/newForm.js`
4. Error is on line 5

[code]

**Expected behavior/code**
The form generator should use the new `@material-ui/core` package

[2018-09-22 05:32] prescottprue commented on #122
Fixed in [v2.2.0 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v2.2.0). Thanks for reporting!

[2018-09-22 05:32] #122 closed

[2018-10-12 02:59] rm-rf-etc opened #126 "broken tests, chai-enzyme: "Can't find variable: Map""
Seems that the tests don't work. No time available to investigate at the moment.

[code]

[2018-10-12 17:29] prescottprue commented on #126
Which version of `generator-react-firebase` did you use and what node version?

Currently working adding an option to use jest for tests instead of mocha/chai/karma. The tooling is much more simple and therefore easy to upkeep, but still interested to try to replicate this.

What are you hoping to get out of the tests? We have our E2E tests written in Cypress covering main application usage (going

[2018-10-16 03:48] rm-rf-etc commented on #126
Sorry for the slow response.

generator: 2.3.1
node: v10.11.0
OS: macOS Sierra 10.12.6
npm: 6.4.1
yarn: 1.10.0

Project dependancies were installed with yarn.

Initial focus with tests was utility/helper and selector functions. Rendering of components hasn't been a critical requirement for me yet, but I would definitely like to get that working to increase my code test coverage.

Thanks so much fo

[2018-11-06 07:52] prescottprue commented on #81
Work on this feature has started on the [v3.0.0-alpha brach](https://github.com/prescottprue/generator-react-firebase/tree/v3.0.0-alpha). The new setup is basically the same as ejecting from create-react-app (plus the original extras) and `react-loadable` for async routes.

[2018-11-13 22:57] MincePie opened #130 "Application Structure - actions"
**Describe the bug**
I am trying to setup a version of this base to use the material-ui example. The application structure within that example has an index.js page, that uses the following import statement: import constants, { actionTypes } from './constants'

I'm not familiar with this syntax to see exactly how it works, but I think it needs the actions folders that is in the src folder at root l

[2018-11-13 23:40] prescottprue commented on #130
The syntax that you are asking about allows for the default import as well as a non default import in one statement:

[code]

This is really common in the react community for pulling in `react` as well as `React.Component` like so:

[code]

As for the difference in the README and the structure you see in the example, I will work on cleaning that up.The examples are generally updated, but since the

[2018-11-13 23:44] MincePie commented on #130
Thanks very much @prescottprue - it all looks clean and neat, I'm just suck trying to figure out if I like it. I'm trying to compile a single set of files to get a version of the code to start (still stuck in trying to do that). I'll keep trying and share any notes that might be helpful for the next draft of the readme. Thanks again!

[2018-11-14 00:01] prescottprue commented on #130
Yup! This generator is mostly setup to scale to large applications based on patterns myself and my company have picked over time, so it may not be the best fit for a super small project. For a more simple start, I suggest checking out `create-react-app` which was used to make [the simple example for react-redux-firebase](https://github.com/prescottprue/react-redux-firebase/tree/master/examples/com

[2018-11-14 00:04] MincePie commented on #130
Thanks - I have a complex project and I am keen to try to use your setup for firebase. Just getting a bit confused with the ideas around multiple source folders etc. I am working on aggregating your folder content to try to fit within the application structure (moving root/src/actions for example, to the content created with the material example). I'm sure it's logical - I just can't figure it out

[2018-11-14 00:18] prescottprue commented on #130
Didn't realize that at first you were talking about the material example of react-redux-firebase. Once I realize, I went and looked and  I think that there is some unnecessary files there! The config folder is from an old setup of the generator before moving everything to `project.config.js`. You'll notice that [none of the examples in this repo contain that folder](https://github.com/prescottprue

[2018-11-14 00:18] MincePie commented on #130
Also - fyi - I'm now getting a new error - apparently this plugin has been removed:

//   config.plugins.push(
//     new webpack.optimize.CommonsChunkPlugin({ names: bundles })
//   )

The suggestion is to use config.optimization.splitChunks instead

[2018-11-27 16:17] prescottprue commented on #81
This is available when installing from the `next` tag/branch.

[2018-11-27 16:17] #81 closed

[2018-11-27 16:19] prescottprue commented on #126
@rm-rf-etc When installing from the `next` tag/branch there is now option for Jest tests for components as well as separate options for Cloud Functions tests (mocha) and UI Tests (Cypress).

The plan is to release it to `latest` soon, so I'm going to close. Let me know if it doesn't function as you would expect, thanks for reporting!

[2018-11-27 16:19] #126 closed

[2018-11-27 16:21] prescottprue commented on #130
If you are looking for the most simple version that is similar to the output of create-react-app (uses `react-scripts`) , install from the `@next` tag. It will soon be released to latest.

Thanks for reaching out.

[2018-11-27 16:21] #130 closed

[2018-12-05 16:13] CreativeBuilds opened #138 "browserHistory not defined in ./src/containers/App/App.js line 10"
On line 10 for ./src/containers/App/App.js after generation it's trying to use a variable called `broswerHistory` but it's not defined in the imports above that.

[code]

[2018-12-05 22:19] prescottprue commented on #138
@CreativeBuilds Thanks for reporting, which version are you running? Could you provide the answers you used when generating so I can make sure I replicate correctly?

[2018-12-07 17:53] CreativeBuilds commented on #138
I ended up swapping generators for now, I'll try again and provide the answers when I get chance, probably in the next hour or two.

[2018-12-07 17:55] CreativeBuilds commented on #138
I know I wasn't using redux though. So that could have been it. There was also an issue with the package.json not be fully written as there was a blank line with nothing on it, and a line with an extra comma that made the parser for npm install throw an error. I'll upload a copy of the json once it's done.

[2018-12-07 18:02] CreativeBuilds commented on #138
Okay settings are as followed
Include redux? No
Use firestore? Yes
Other Features, everything included
I didn't know what Sentry DSN was, so I left it blank
I chose Gitlab instead of travis
deploy to firebase

[2018-12-07 18:04] CreativeBuilds commented on #138
Public gist of my package.json directly after install https://gist.github.com/CreativeBuilds/7a80c4869397cc7aaeb242411b4eb275
line 51 is the empty line I was talking about
line 53 is the line with the extra ,

[2018-12-07 18:56] prescottprue commented on #138
Yeah it seems to be because of opting out of redux (that flow seems to have had a few bugs added with the most recent major release).

[2019-01-08 06:17] prescottprue commented on #138
Fixed in [v3.0.3 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v3.0.3)

[2019-01-08 06:17] #138 closed

[2019-01-20 18:20] costalvaro opened #142 "Firestore Security Rules not allowing to view /projects"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
Installed generator today, started a project with Firestore.
Everything works correctly, I push it to Firebase (as the host).
Once rules are applied, I can no logger see project items when at /projects.
Console shows an error "Permission denied".

**What is the expected behavior?**
The projects should load

[2019-01-21 17:40] costalvaro commented on #142
Additional input : With the hint I gave, showing & deleting existing projects was working.
However, creating projects was not possible anymore, so it wasn't a complete solution.

I have no clue about why it works that way, but then the complete solution so that everything works was the following :
`allow read, write : if isOwner(resource) || isOwner(request.resource);`

- `isOwner(resource)` permi

[2019-02-07 07:39] prescottprue commented on #142
Fixed as part of [`v3.1.0` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v3.1.0), thanks for reporting.

[2019-02-07 07:39] #142 closed

[2019-02-24 11:34] jakobgn opened #145 "missing documentation for deployment"
link to guide seem to be broken

[2019-02-24 11:49] prescottprue commented on #145
Yeah, it looks like the info is only included in the [generated README](https://github.com/prescottprue/generator-react-firebase/tree/master/examples/redux-firestore#ci-deploy-recommended), but the link in the main README assumes it is in that same file. Thanks for reaching out.

[2019-02-24 12:02] prescottprue commented on #145
Copied it over to the main README. Feel free to reach out if anything else is unclear or if any other links are broken!

[2019-02-24 12:02] #145 closed

[2019-06-01 00:40] alanrivetta opened #154 "Compatibility react-redux@7"
Hello, amazing boilerplate.

Could it be compatible with react-redux@7?

[2019-06-01 01:26] prescottprue commented on #154
Updating past react-redux v6 requires switching to the newer version of react-redux-firebase and redux-firestore due to changing to the new/stable React context API, so it will take a bit of changing to make it work. That said, glad to folks are looking for this update so thanks for posting!

[2019-06-24 08:02] LaurensLang commented on #154
I'm also interested in this.

[2019-11-01 06:07] prescottprue commented on #154
[v4.0.0 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v4.0.0) uses the newest react-redux (v7) and react-redux-firebase (v3). It also uses hooks in place of HOCs for data connection

[2019-11-01 06:07] #154 closed

[2019-11-15 01:51] doublejosh opened #164 "Setup fail (with analytics)"
The app cannot be compiled or run *after* setup if choosing to include analytics. Two issues thus far...

[code]

[code]

**Possible Solutions**
Add a segment ID input to the init process.

The analytics constants file doesn't exist, it should be created here...
`/src/constants/analytics.js`

This line may be incorrect...
`src/utils/analytics.js`
[code]
...I believe `eventNameKey` should be `event

[2019-11-15 14:28] prescottprue commented on #164
Oh man that is a silly one, thanks for reporting!

[2019-11-15 15:51] prescottprue commented on #164
Fixed in [v4.0.1 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v4.0.1), thanks for reporting!

[2019-11-15 15:51] #164 closed

[2019-12-04 04:56] mariotacke opened #166 "bug(app): deleteProject does not remove project"
**Describe the bug**
`deleteProject` does not seem to remove the project. I just started using this generator and bootstrapped an application, set up configs, and ran the build without modifying any files. I also deployed via `firebase deploy` and made sure the database rules are configured and applied. I can create projects but the delete button does not trigger a network request to actually remo

[2019-12-04 05:24] prescottprue commented on #166
@mariotacke Thanks for reaching out! It seems that is due to the fact that it is running delete within Real Time Database instead of Firestore. I'll look into fixing

[2019-12-04 11:45] prescottprue commented on #166
Fixed in [v4.1.0 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v4.1.0). Make sure to reinstall globally then rerun the generator in your project to get the update. Thanks for reporting!

[2019-12-04 11:45] #166 closed

[2019-12-05 01:46] mariotacke commented on #166
@prescottprue thanks for the update. Unfortunately, now it just says "FirebaseError: Missing or insufficient permissions". I completely regenerated the project from scratch and redeployed everything. There are no source maps, so I can't pinpoint where this originates exactly. Interestingly, it throws two exceptions of the same type this time.

[2019-12-05 03:51] prescottprue commented on #166
@mariotacke what do your Firestore rules look like? Did you deploy the included rules to your instance? Are you logged in? [This part of the included rules](https://github.com/prescottprue/generator-react-firebase/blob/master/generators/app/templates/firestore.rules#L23) should make it so that you can delete any project which was created by you.

[2019-12-05 04:42] mariotacke commented on #166
@prescottprue, yes, I had deployed the rules and I am logged in (tried email auth/google auth, but made no difference).

I confirmed the projects get created in Cloud Firestore. When I hit delete (via the icon), it triggers 4 requests, all coming back as 200 and the triggering 2 `FirebaseError: Missing or insufficient permissions`.

These are my rules currently deployed for Cloud Firestore (they s

[2019-12-05 04:48] mariotacke commented on #166
Is it missing the `delete` instruction?

Should it be:
[code]

?

[2019-12-05 04:50] mariotacke commented on #166
That looks to be it. I changed the project section to (notice the `delete`):

[code]

[2019-12-05 05:42] prescottprue commented on #166
Not sure why I didn't run into the same on my test instance. I'll make the changes to the outputted rules. Thanks for the detailed feedback!

[2019-12-05 05:59] prescottprue commented on #166
Figured out why I didn't catch that - the rules in the test DB were still fully open due to testing another app. I'll make sure to keep those separate in the future. Thanks again

[2019-12-05 07:31] mariotacke commented on #166
Thank you for the quick turn-around!

[2019-12-15 15:01] farmisen opened #170 "yarn test command fails"
**Describe the bug**
Jest tests do not run on a freshly generated app.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate a new app with the following options:
[code]
1. run `yarn test`
1. See error:
[code]

**Expected behavior/code**
I should not have to eject the app to run the tests.

**Possible Solution**
Modifying the generator to use `react-app-rewired` to configure jest

[2019-12-16 14:41] prescottprue commented on #170
Thanks for posting! Noticed this a while back, and actually had to use [customize-cra](https://github.com/arackaf/customize-cra) along side [react-app-rewired](https://github.com/timarney/react-app-rewired/) to support v3 react-scripts, so it should be easy enough to work that in as an option

[2019-12-16 14:56] farmisen commented on #170
Hey @prescottprue I know you! We met at Mel's when he was living in the mission may be 3-4y ago and hacked a little bit of react together. Who would had known back then- I mean, may be beside you - that firebase would have gone such a long way? Never worked on yo generators but happy to send a PR if you point me in the right direction. (Fixing it on my generated app was super easy). I also noticed

[2019-12-16 16:49] prescottprue commented on #170
@farmisen Hey, yeah, I remember! Small world! Great to hear from you

The [`generators/app`](https://github.com/prescottprue/generator-react-firebase/tree/master/generators/app) folder contains all of the files for generating the initial app, the other folders in the `generators` folder are "sub-generators". The file templates live in [`generators/app/templates`](https://github.com/prescottprue/ge

[2019-12-18 15:40] farmisen commented on #170
work is super slow today, giving it a shot

[2019-12-22 06:08] prescottprue commented on #170
Fix was included in [the `v5.1.0` release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.1.0). I was actually able to remove that config all together and use the version of jest directly within react-scripts, so it also removes some dependencies 🕺

Reach out if it doesn't work as expected, thanks for reporting!

[2019-12-22 06:08] #170 closed

[2019-12-23 14:34] taniotanio7 opened #172 "Compilation error after first installation"
**Describe the bug**
After creating first project I get compilation errors.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Installed generator
2. Switched to node version 10
3. Generate project in a directory (`yo react-firebase --skip-install`)
4. Install dependencies using yarn (`yarn install && yarn install --cwd functions`)
5. Start developent server (`yarn start`)

**Expected b

[2019-12-24 21:15] prescottprue commented on #172
Thanks for reporting, I'll look into replicating soon

[2020-03-20 09:08] pshevtsov opened #185 "Firestore ruleset uses old version and other warnings"
**Describe the bug**
When I try to deploy Firestore rules I get a warning message.

**To Reproduce**
Steps to reproduce the behavior:

1. `firebase deploy --only firestore`
1. See error

[code]

**Expected behavior/code**
No warning message

[2020-03-20 09:31] pshevtsov opened #186 "Please update the following components: LoadableComponent"
**Describe the bug**

I get warning messages: “Warning: `componentWillMount` has been renamed” in my DevTools console.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate the app and start the dev server: `yo react-firebase && npm start`
1. Sign-up and login
1. Go to http://localhost:3000/projects
1. Open Browser's DevTools console and see error:

[code]

**Expected behavior/code**
No

[2020-03-20 19:03] prescottprue commented on #186
Thanks for noting this, I will look into it. I believe it may be due to `react-loadable`

[2020-03-22 05:08] prescottprue commented on #186
Thanks for reporting! Fixed in [v5.2.0 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.2.0) by switching to `React.lazy` and `React.Suspense`

[2020-03-22 05:08] #186 closed

[2020-03-22 05:08] prescottprue commented on #185
Thanks for reporting! Fixed in [v5.2.0 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.2.0)

[2020-03-22 05:08] #185 closed

[2020-03-22 05:09] prescottprue commented on #172
This should be fixed in v5.2.0

[2020-03-22 05:09] #172 closed

[2020-03-23 05:08] pshevtsov opened #194 "Inconsistent projects order"
**Describe the bug**
Fatal error when generating a project

**To Reproduce**
When projects are created they are listed in inconsistent order

1. Generate app
1. Sign up and Login
1. Go to /projects
1. Create several projects

**Expected behavior/code**
Projects list has consistent order (by name or by creation timestamp)

**Additional Context/Screenshots**
![image](https://user-images.githubuserco

[2020-03-23 05:12] pshevtsov opened #195 "Email doesn't appear on Account page"
**Describe the bug**
After sign up and login, email doesn't appear on Account page.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate app
1. Enable Email/Password sign-in method in Firebase Console
1. Signup using email and password
1. Go to /account
1. See empty text field for email

**Expected behavior/code**
Email appears on Account page

[2020-03-23 05:18] pshevtsov opened #196 "Login button is not enabled until the password field loses focus"
**Describe the bug**
Login button is not enabled until the password field loses focus

**To Reproduce**
Steps to reproduce the behavior:

1. Go to /login
1. Fill username
1. Fill password
1. Login button is disabled

**Expected behavior/code**
Login button is enabled when all fields are valid.

**Additional Context/Screenshots**

![image](https://user-images.githubusercontent.com/290451/77284045-d

[2020-03-24 01:25] prescottprue commented on #194
Nice idea here - that should be easy to add. Just out of curiosity, are you opting into Firestore? How about redux? Could you provide your list of answers to the generator?

[2020-03-24 01:26] prescottprue commented on #195
Which version are you running? 5.3.0? Want to make sure I am replicating with the correct form setup (switched to react-form-hook)

[2020-03-24 03:01] prescottprue commented on #194
If you are using Firestore, something to note is that running a query that looks for projects created by the current user and sorts by created time it will throw the following error (since indexes aren't setup):

![image](https://user-images.githubusercontent.com/2992224/77383737-f2f99980-6d40-11ea-9f8b-65096d036735.png)

Since the goal is to have things work out of the box, I am thinking this ext

[2020-03-24 04:27] prescottprue commented on #196
Thanks for reaching out! Fix released in [v5.3.1](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.3.1)

[2020-03-24 04:27] #196 closed

[2020-03-24 04:27] prescottprue commented on #195
Thanks for reaching out! Fix released in [v5.3.1](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.3.1)

[2020-03-24 04:27] #195 closed

[2020-03-24 04:27] prescottprue commented on #194
In [v5.3.1](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.3.1) they are ordered by documentId, as mentioned ordering by createdAt was left out since it requires adding an index

[2020-03-24 04:27] #194 closed

[2020-04-01 07:01] ssijak opened #200 "Adding typescript option to the project?"
**Describe the solution you'd like**

Adding a typescript/js choice to the generator. If typescript is chosen, the generated project would add typescript configuration to babel and files would be typescript optimized and with .ts(x) extension.

[2020-04-01 16:08] prescottprue commented on #200
Awesome idea!

[2020-04-25 16:39] mradenovic opened #205 "Failed to compoile after install"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. `yo react-firebase`
2. `yarn start`

[code]

**Expected behavior/code**
Project running in dev mode.

**Possible Solution**
The problem is probably somewhere in `generators/app/templates/src/routes/Projects/components/ProjectsList/ProjectsList.js`

**Additional Context/Screenshots**
If I manually fix code in `ProjectsList.

[2020-04-25 23:06] prescottprue commented on #205
@mradenovic Thanks for reporting, can you post which options you used while generating?

[2020-04-26 02:39] mradenovic commented on #205
I tried with different options and I had the same result, and this is the content the last `.yo-rc.json`. I hope it helps,

[code]

[2020-04-26 21:29] prescottprue commented on #205
There has been some recent work on the non-redux side of things, so wondering if those changes may have caused issues on the redux side. Thanks for reporting, I'm looking into it

[2020-04-27 01:30] prescottprue commented on #205
[v5.6.0 release](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.6.0) includes a fix for this. Thanks for reporting!

Side note: If you are starting a new project you may want to consider if redux is needed at all - in the upcoming major version of this project I'm planning to switch to having no redux be the default.

[2020-04-27 01:30] #205 closed

[2020-04-27 14:29] mradenovic commented on #205
@prescottprue I agree about redux. I am comparing both options to see if it is needed :smile:

I just tested the new version. Works fine without redux.

With redux, when I visit `http://localhost:3000/projects`, throws an error:

![screencapture-localhost-3000-projects-2020-04-27-10_20_31](https://user-images.githubusercontent.com/10821730/80383355-77c06180-8871-11ea-9e83-1f6172bd9c4b.png)

[2020-04-28 17:25] mradenovic opened #208 "Deployment with GitHub Actions fails out of the box"
**Describe the bug**
Deployment with GitHub Actions fails with default settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project with `yo react-firebase`
2. Push the project to Github `git push origin master'

**Expected behavior/code**
`Github Actions` deploys project to `Firebase`.

**Possible Solution**

**Additional Context/Screenshots**

Tested two different scenari

[2020-04-28 17:47] mradenovic commented on #208
When  `Tests for Firebase Functions` option is removed, test scripts in `functions/package.json` are also removed.  However, `yarn --cwd functions test:cov # Run unit tests with coverage` in`.github/workflows/deploy.yml` is not removed and it causes `Verify Functions` task to fail.

[2020-04-28 18:57] prescottprue commented on #208
Thanks for reaching out, I will look into this

[2020-04-28 21:26] mradenovic commented on #208
Also, `storage.rules` needs to be upgraded to version 2. I am not sure if that caused the failure, but it was in the log.

[code]

[2020-04-28 22:08] prescottprue commented on #208
Thanks for that comment as well - I'm going to make another issue to track that. I'm going to be doing a few more test runs of this myself to hopefully catch more stuff like this, so please feel free to keep opening issues if you find anything more

[2020-04-28 22:17] prescottprue opened #210 "chore(app): update security rules versions"
**Describe the bug**

As noted in [this comment of 208](https://github.com/prescottprue/generator-react-firebase/issues/208#issuecomment-620864322) - security rules versions need to be updated to v2, otherwise the following appears during deploy:

[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Generate a new project
1. Run deploy Github action

**Expected behavior/code**

No warning

[2020-04-28 22:19] prescottprue commented on #208
[v5.6.1](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.6.1) has fixes for the lint issues when using functions tests, and leaves that script out of the CI workflows when not including.

Going to close, but please reach back out if things don't work as expected. Thanks for reporting!

[2020-04-28 22:19] #208 closed

[2020-04-30 14:09] mradenovic opened #211 "Issues creating project WITHOUT redux"
**Describe the bug**

* Firebase rules are not created
* Messaging is not initialized (different than when creating project with redux)
* Home Page throws an error
`FirebaseError: Installations: Create Installation request failed with error "400 INVALID_ARGUMENT: Request contains an invalid argument."`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with `yo react-firebase`

[2020-04-30 14:17] mradenovic opened #212 "Issues creating project WITH redux"
**Describe the bug**

* It doesn't redirect after successful login.
* Projects page throws an error
`Uncaught TypeError: Cannot read property 'url' of undefined at src/utils/router.js`
* Home Page throws an error
`FirebaseError: Installations: Create Installation request failed with error "400 INVALID_ARGUMENT: Request contains an invalid argument."`

**To Reproduce**
Steps to reproduce the behavi

[2020-04-30 17:08] prescottprue commented on #212
Hmm... The home page error seems to be that the project you are pointing to doesn't have a Firebase installation. Are you sure the project you are using is setup?

I'll look into trying to replicate the ProjectsPage issue

[2020-04-30 17:09] prescottprue commented on #211
Same as the other issue - are you sure that you have Firebase fully setup for your project? Including setup of Firestore and RTDB?

[2020-04-30 19:41] mradenovic commented on #212
The `FirebaseError:` was caused by a wrong appId on my side.

A potential bug in `src/config.js` line 17 got my attention. The `measurementId` gets the value of `MessagingSenderId`.

Redirect and Projects page still dont work.

[2020-04-30 20:05] prescottprue commented on #211
Was it the appId issue here as well or are you having another issue with non-redux?

Messaging should be getting setup by [the SetupMessaging component in the App component](https://github.com/prescottprue/generator-react-firebase/blob/master/examples/react-firestore/src/containers/App/App.js#L28-L30). Are you finding that it isn't initialized?

[2020-04-30 20:11] mradenovic commented on #211
Same as #212, The FirebaseError: was caused by a wrong appId on my side.

Firebase rules still not created, and I believe the messaging doesn't get initialized. I noticed that `initializeFirebase.js` file is not created and I'm not sure if it is by design.

[2020-04-30 20:30] mradenovic commented on #211
Firebase rules are not created and this should probably go to another issue.

I figured out messaging, I had to setup `REACT_APP_FIREBASE_PUBLIC_VAPID_KEY` in `.env.local`. I was expecting it to work the same as redux version.

[2020-04-30 22:53] prescottprue commented on #211
Oh yeah, that is part of the move I'm making towards using .env files for everything instead of needing the src/config.js. I'm going to switch that back to loading from src/config.js and do the env changes all at once - glad you caught that

The initializeFirebase file is only used when opting into redux.

[2020-05-01 01:20] prescottprue commented on #211
@mradenovic Would you give updating v5.6.2 a try? I included fixes for the issues mentioned

[2020-05-01 01:26] prescottprue commented on #212
v5.6.2 should fix the mentioned issues, thanks for the quick responses.

[2020-05-01 02:15] mradenovic commented on #211
Login throws an error. It looks like app is trying to access Projects, before getting the right s for it.

1. Sign Out
2. Sign In with Google (throws an error, see bellow)
3. Reload page, OK

[code]

[2020-05-01 02:49] mradenovic commented on #212
On Sign In with Google, flashes `Project Page` for a moment and then goes back to sign-in page and show notification `Error: Failed to get the document because the client is offline.`

After reload, opens `Project Page` with following console output:

This is probably the cause of the issue:

This one doesn't have much sense since everything else works fine:

[2020-05-01 05:51] prescottprue commented on #212
Lets open a new issue for that so tracking of debugging can go in there

[2020-05-01 05:51] #212 closed

[2020-05-02 13:24] mradenovic commented on #211
This can be closed. The issue disappeared with `v5.7.0`.

[2020-05-02 13:39] mradenovic opened #215 "Login buggy with redux and firebase@7.14.1"
**Describe the bug**

This is the copy of https://github.com/prescottprue/generator-react-firebase/issues/212#issuecomment-622222893 with possible solution.

On Sign In with Google, flashes Project Page for a moment and then goes back to sign-in page and show notification Error: Failed to get the document because the client is offline.

After reload, opens Project Page with following console outpu

[2020-05-02 14:06] mradenovic opened #216 "Some generated files are different than their commited versions"
**Describe the bug**
Some files generated by `yo` are different than their versions committed with `husky` hooks. If one wants to pull the bug fixes from a new generator version, it will introduce changes to those files.

I wonder if this has something to do with some `examples` files being reintroduced with every pull request.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate new fil

[2020-05-03 19:04] #211 closed

[2020-05-03 20:05] prescottprue commented on #215
@mradenovic I think it may be Firebase itself with that change, but I'll look into debugging further. Thanks for reporting!

As mentioned before, I think I'm going to switch the default to using non-redux

[2020-05-03 20:08] prescottprue commented on #216
This may be due to lint settings - thanks for reaching out

[2020-05-05 16:47] mradenovic opened #218 "npm run functions:test fails"
**Describe the bug**
The default `npm run functions:test` script fails after install. Am I missing something in the setup?

`TypeError: Channel credentials must be a ChannelCredentials object` thrown every time firestore write is atempted.

There also dependencies that will probably cause fail of `deploy.yml` and `verify.yml` scripts.:
-  **nyc** in  ` "test:cov:base": "nyc --reporter=lcov npm run

[2020-05-05 16:56] mradenovic opened #219 "npm run test:ui fails after install"
**Describe the bug**
The default test script `npm run test:ui` fails after install with the follwoing error:

`Error: Error GCLOUD_PROJECT environment variable or project_id from service account to initialize Firebase.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create function tests with yo generator-firebase
2. Run `npm run test:ui`

**Expected behavior/code**
UI tests run without err

[2020-05-05 19:51] prescottprue commented on #219
@mradenovic Running tests requires a `serviceAccount.json` since you need admin access to generate auth tokens and read/write to the database within tests. If you are running against emulators you really only need the `GCLOUD_PROJECT` env variable, but you still need a way to identify which project - that was the goal behind that message you are seeing

This should be clarified further in the gene

[2020-05-05 19:53] prescottprue commented on #218
Same as the other issue, we need to add the serviceAccount for admin access. I'll add a note about this to the README as well

[2020-05-05 19:56] mradenovic commented on #219
Thanks for the quick response!

[2020-05-05 20:07] mradenovic commented on #218
Thanks a lot! I'm trying to learn about CI/CD and this project looks like a great place.

How about `nyc`? The script doesn't got thru unless I install it manually.
Should `jq` go to README as a requirement? I work on debian container and it was not there by default :smile:

[2020-05-05 20:53] prescottprue commented on #218
No - nyc is installed as an npm dependency through yarn though

[2020-05-05 21:15] mradenovic commented on #218
I just realized that `nyc` is installed with `mocha` but not with `jest`.

`test:cov:base": "nyc --reporter=lcov npm run test:base` is installed in both cases.

One of these is not right, not sure which one 😄

[package.json](https://github.com/prescottprue/generator-react-firebase/blob/master/generators/app/templates/functions/package.json)
[code]

[2020-05-05 21:40] prescottprue commented on #218
Great catch - yeah it will have to be changed when using jest. Thought I had already added logic, but I'll look into that. No, it can stay in this issue since it all has to do with the functions tests

[2020-05-05 22:05] mradenovic commented on #218
While we are at it, `test:ui:emulate` tries to run `test:open`instead of `test:ui:open`.

[code]

[2020-05-08 04:02] prescottprue commented on #219
Added a note about this to the generated README as part of v5.7.1. Let me know if it doesn't cover it and we can reopen

[2020-05-08 04:02] #219 closed

[2020-05-11 12:36] tomsutton1984 opened #222 "Route generator failing when using JSS with React Hooks"
[code]

I believe that the issue stems from a minor inconsistency in naming, starting here: https://github.com/prescottprue/generator-react-firebase/blob/ca45d98615b91d8a4d70ebaae999d27826576bb8/generators/route/index.js#L189

Resolved by renaming startCasedName to startCaseName in the following locations:
https://github.com/prescottprue/generator-react-firebase/search?q=startCasedName&unscoped_q=

[2020-05-11 20:42] prescottprue commented on #222
Released in [v5.7.3](https://github.com/prescottprue/generator-react-firebase/releases/tag/v5.7.3) thanks for the addition!

[2020-05-11 20:42] #222 closed

[2020-05-11 20:43] prescottprue commented on #218
This was fixed v5.7.2, reach out if things aren't working as you expect after updating. Thanks for reporting with such detail!

[2020-05-11 20:43] #218 closed

[2020-05-11 20:58] prescottprue commented on #216
Was fixed in v5.7.1 - reach out if things aren't working as you expect now

[2020-05-11 20:58] #216 closed

[2020-05-30 15:46] w90 commented on #200
That's a great idea!

[2020-06-05 22:47] blackmad opened #226 "TypeError: Cannot read property 'includeCI' of undefined"
**Describe the bug**
Picking all the defaults results in a crash at the end with no files written out. I can repro this. It happens regardless of if I specify all my firebase creds.

version: 6.0.0
(base) ➜  pp2 yo react-firebase

     _-----_
    |       |    ╭──────────────────────────╮
    |--(o)--|    │   Welcome to the React   │
   `---------´   │    Firebase generator!   │
    ( _´U`_ )    ╰

[2020-06-05 22:54] prescottprue commented on #226
Thanks for reporting, I will check into this

[2020-06-12 10:58] w90 commented on #226
I've got the same issue. I filled in all the fields manually, no defaults.

[2020-06-12 17:03] prescottprue commented on #226
Thanks for reporting folks I'm going to remove this loading the github user code - having that load automatically doesn't warrant these major issues

[2020-06-12 23:44] prescottprue commented on #226
@w90 and @blackmad could you both reinstall the latest and see if things are fixed for you? I removed the default github username logic which I believe was to blame (added in v6.0.0)

[2020-06-15 23:13] PeterLappo opened #234 "config.js not created"
**Describe the bug**
config.js not created so compile fails
./src/utils/analytics.js
Module not found: Can't resolve '../config' in '../react-firebase-prescottprue/src/utils'

Also a couple of typos?
* SetupAnalytics.js location changed to window
* initializeFirebase.js with a quote at the end
    messagingSenderId: process.env.REACT_APP_FIREBASE_MESSAGING_SENDER_ID',

**To Reproduce**
yo --versio

[2020-06-16 15:42] prescottprue commented on #234
Thanks for reaching out, those do look like some issues! `src/config.js` was removed in favor of using environment variables, so looks like a reference was left behind.

Side note question though: What is your reasoning behind opting into redux? In v6.0.0 the generator was switched to defaulting to not using redux. Also interested in the choice of Gitlab over Github Actions

[2020-06-16 15:55] prescottprue commented on #234
Ahh I was able to replicate what you are referencing - this appears to be from changes made to the non-redux version. Cleaning that up as well

[2020-06-16 16:24] prescottprue commented on #234
[v6.1.1](https://github.com/prescottprue/generator-react-firebase/releases/tag/v6.1.1) was released with fixes for the issues you mentioned - let me know if you get a chance to try it out

[2020-06-16 19:27] PeterLappo commented on #234
Just tried it and starts up without issues.
Thanks

[2020-06-16 19:37] PeterLappo commented on #234
Redux
- was keeping my options open
Gitlab
- using it at work
- has free private repos with limitations
- free build minutes
- can be self hosted
- test result integration is not great
- more CI rather than CD
Haven't used GitHub actions but suspect its less mature

[2020-06-16 19:42] PeterLappo commented on #234
Not keen on environment variables they are a bit like secret globals but often necessary with docker. Ideally you just want one or two to select an environment.

Thanks again

[2020-06-16 19:42] #234 closed

[2020-06-16 20:28] prescottprue commented on #234
@PeterLappo The usage of environment variables mirrors what is [outlined in the react-scripts docs](https://create-react-app.dev/docs/adding-custom-environment-variables/), but agree it might be nice to have a way to select settings based on a single variable - for that though, your configs would most likely want to be stored in the repo so they are tracked. This is actually what [the createConfig

[2020-06-17 07:20] PeterLappo commented on #234
I like the .env idea with specific files for an environment as its explicit what environment variables there are. Others don't follow these conventions and expect environment variables to be set explicitly by the user leading to confusion.

[2020-06-22 08:22] washington-kibichii commented on #24
You are probably getting this error because you need to update a dependency in your project package.json file. In my case:
`"react-tap-event-plugin": "^1.0.0"` to `"react-tap-event-plugin": "^2.0.0"`
after making that change, remove the node_modules folder:
`rm -rf node_modules`

then finally:
`npm install`

[2020-07-23 01:18] #226 closed

[2020-07-23 05:01] #210 closed

[2020-08-09 01:57] prescottprue commented on #200
[v7.0.0](https://github.com/prescottprue/generator-react-firebase/releases/tag/v7.0.0) has an option to use typescript for cloud functions (the default now). I'll soon begin working on an option to have the app be typescript as well

[2020-09-18 02:36] jd-alexander opened #282 "Module not found error at project run"
Hi, I ran this script and I am getting the error seen in the screenshot below no matter which configuration I utilize.
<img width="1172" alt="Screenshot 2020-09-17 at 9 30 16 PM" src="https://user-images.githubusercontent.com/1509205/93548915-de800d80-f92d-11ea-8d41-fc736be0257c.png">

[2020-09-18 16:42] prescottprue commented on #282
@jd-alexander It appears you are opting into redux - can you confirm so I can make sure I replicate correctly?

Also, out of curiosity, do you have a specific need for using redux from the start for your app?

[2020-09-18 17:51] prescottprue commented on #282
I was able to replicate and it does appear that it was when opting into redux. The fix should be out shortly

[2020-09-18 18:27] prescottprue commented on #282
v7.3.0 was released with a fix for this issue - please try running `npm i -g generator-react-firebase` to update. Please reach out if this doesn't fix the issue for you, thanks for reporting!

[2020-09-18 18:27] #282 closed

[2020-09-18 20:31] jd-alexander commented on #282
Thanks for this quick fix @prescottprue I will give it a try.

[2020-11-20 12:59] michalens opened #302 "Toggle doesn't work in installation script"
**Describe the bug**
When I run yo react-firebase, one of the questions is a toggle. However, by pressing both `a` and `i` keys every item is toggled

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yo react-firebase`
1. Move to question `Other features to include`
1. Try to toggle

**Expected behavior/code**
Only one item toggles

**Additional Context/Screenshots**

![gif](https://user-

[2020-11-20 12:59] #302 closed

[2020-11-20 13:26] michalens opened #303 "Doesn't work at all"
1. `npm install` fails, because it has react version 17, and many dependencies link to 16
2. If I manually change react and react-dom to 16.14.0, then I get this along with menu security vulnerabilities
![Screen Shot 2020-11-20 at 15 25 39](https://user-images.githubusercontent.com/42828375/99805141-baff5c00-2b44-11eb-9756-5dd94e5c9902.png)

[2020-11-20 21:10] prescottprue commented on #303
Just to clarify - was this opting into redux?

Was it clear what dependencies were linked to 16 still?

[2020-11-20 21:44] prescottprue commented on #303
It appears that react-redux-firebase is at least one of the dependencies that needs updating to support the new version. I would suggest trying to generate without redux for now while I look into it further

[2020-11-21 10:31] michalens commented on #303
I installed without redux, still getting errors
![Screen Shot 2020-11-21 at 12 30 37](https://user-images.githubusercontent.com/42828375/99875080-80a1c780-2bf5-11eb-8c5f-d4c5451d194a.png)

[2020-11-22 04:12] prescottprue commented on #303
@michalens That error appears to be due to an incompatible node version with what is set in `functions/package.json` - this defines the [cloud function runtime](https://cloud.google.com/functions/docs/writing/#the_cloud_functions_runtime) as described [in the firebase docs](https://firebase.google.com/docs/functions/manage-functions#set_nodejs_version). This can only accept 10 or 12 (no ^ or anyth

[2020-11-25 05:30] prescottprue commented on #303
v7.5.0 was released for fixes to app when opting into redux (it was needing to cleanup some lint and update react-redux-firebase).

You will still need to handle the node 12 version as mentioned in the previous message - I found that this was already noted [in the FAQ section](https://github.com/prescottprue/generator-react-firebase#faq), but I added another note to the Getting Started section.

P

[2020-11-25 05:30] #303 closed

[2021-04-21 18:41] mikeover opened #369 "Fails to compile out of the box"
**Describe the bug**
Generated and ran `yarn start` and compile error occurs due to this issue: https://github.com/prettier/eslint-config-prettier/blob/main/CHANGELOG.md#version-800-2021-02-21.

I updated the `extends` array in `.eslintrc.js` replacing `prettier` with `plugin:prettier/recommended` to get past this error.

However, next I ran `yarn start` again and am getting an error on `ProjectsL

[2021-04-21 20:32] prescottprue commented on #369
Thanks for reporting! Did you opt to use redux or not? Not using redux is the default, but just wanted to confirm

[2021-04-21 20:32] mikeover commented on #369
I opted out of redux.

[2021-04-21 20:35] mikeover commented on #369
Out of curiosity, do you think you'll have a chance to address this in the near term? I'm starting a new project and would love to use this.

[2021-04-21 20:36] prescottprue commented on #369
@mikeover Great question - I'm actually looking at it right now and it should hopefully be pretty easy to get something out today (famous last words)

[2021-04-21 20:56] prescottprue commented on #369
Didn't notice the lint error you are referencing in ProjectsList, but was able to replicate the main error.

Went ahead and merged that so it should be released shortly, but wanted to call out that I also just started work on [v8.0.0](https://github.com/prescottprue/generator-react-firebase/pull/371) which will have a few nice updates like node 14 runtime (the only real planned breaking change is

[2021-04-21 20:57] prescottprue commented on #369
Yup, here is [v7.6.3](https://github.com/prescottprue/generator-react-firebase/releases/tag/v7.6.3) - could you give that a try and confirm it works for you before we close this out?

[2021-04-21 21:01] mikeover commented on #369
sure, trying now

[2021-04-21 21:08] mikeover commented on #369
so if I just do a `yo react-firebase` (no redux, said no to all firebase things, yes to yarn), and then `yarn lint` gives me:
[code]

[2021-04-21 21:34] mikeover commented on #369
I may have butchered that, I'm not very good with npm stuff. I tried updating the generator with `yo` and updating it, and re-ran it, now I'm getting an error:

[code]

[2021-04-21 21:38] mikeover commented on #369
and starting it, I still can't get past compiling ProjectsList:
[code]

[2021-04-21 23:06] prescottprue commented on #369
Did you reinstall the new version of the generator `npm i -g generator-react-firebase`

[2021-04-21 23:22] prescottprue commented on #369
I just noticed that there was a typo in a package file setting which could cause the issues 🤦

Having your answers will still be helpful so I can confirm

[2021-04-22 00:01] mikeover commented on #369
I had tried updating within `yo` so trying now to reinstall via `npm`, and now getting this error on `yarn start`:
[code]

my `.yo-rc.json` is:
[code]

[2021-04-22 04:30] mikeover commented on #369
Just tried with new release v7.6.4. I got the same error but got to the next step by running `yarn add eslint-plugin-prettier`.

But this gets me right back to the `prettier` errors when trying to `yarn start`:

[code]

Would love to see this working, not sure if my comments are helping at all or not.

[2021-04-22 05:02] mikeover commented on #369
FWIW I found that the `react-firebase` app in `examples` works for me AFTER I do `yarn add eslint-plugin-prettier` but it fails with the same above error message from prettier if I re-initialize and answer Y for `Use Firestore (RTDB still included)?`

[2021-04-22 17:05] prescottprue commented on #369
That is so weird... wasn't able to replicate that myself and I was generating both the react-firebase and react-firestore examples then running 🤔

There is also the react-firestore example which has firestore included

There has to be something going on here... I'll keep digging. Thanks for your patience - the reporting back definitely helps a bunch

[2021-04-22 17:15] prescottprue commented on #369
Finally replicated! I was just checking the lint command, but start was picking up the issue you mentioned

[2021-04-22 17:37] prescottprue commented on #369
[v7.6.5](https://github.com/prescottprue/generator-react-firebase/releases/tag/v7.6.5) was released with adding back that plugin and doing the formatting, so you should be good to go 🤞

[2021-04-22 17:42] mikeover commented on #369
Great, thanks for your quick response and fix on this @prescottprue! I found another unrelated issue but I'll open a new thread.

[2021-04-22 17:44] mikeover opened #382 "Error with `tslib` when trying to `firebase deploy`"
**Describe the bug**
I was not able to do `firebase deploy` because an error with the functions regarding `tslib`. I added `"tslib": "2.2.0"` to the dependencies in `functions/package.json` and then was able to deploy. Separate issue though

**To Reproduce**
Same steps as from https://github.com/prescottprue/generator-react-firebase/issues/369. I went through the manual deploy steps and once I got

[2021-04-22 17:44] prescottprue commented on #369
Awesome 👏

[2021-04-22 17:44] #369 closed

[2021-04-22 18:53] prescottprue commented on #382
Also going through testing the fix in a full project which deploys through CI as well

[2021-04-22 18:54] mikeover commented on #382
Cool I'm actually trying that now too, I haven't used TravisCI before so trying to figure out how to get it to trigger a build. Let me know if you stumble upon any gotchas or things that you do that aren't documented please!

[2021-04-22 19:04] mikeover commented on #382
actually I'm not sure it's even setup right to run with Travis, seems the builds are all self-contained in Github actions (another thing I haven't used yet). some more documentation on how to setup CI would be helpful IMHO.

regardless, my github deploy is action is failing with:
`Invalid environment variable format 'REACT_APP_FB_projectId::my-app'`

[2021-04-22 19:45] prescottprue commented on #382
If you haven't used a CI or have a strong preference I would highly suggest using Github Actions

Yeah seeing that myself as well - there was a change to Github Action's syntax for setting env variables working on addressing that now

[2021-04-22 23:01] prescottprue commented on #382
Forgot to post, but released 7.6.6 with the fix for both the tslib and environment variable form: https://github.com/prescottprue/generator-react-firebase/releases/tag/v7.6.6

[2021-04-22 23:01] #382 closed

[2021-04-23 00:33] mikeover commented on #382
this is working for you with github actions? I re-installed the generator, started from scratch with a new project, created the firebase token with `firebase-ci`, put it into my github secrets, and then ran the deploy action but still got `Invalid environment variable format 'REACT_APP_FB_projectId::my-app'`. am I doing something wrong?

[2021-04-23 14:48] mikeover commented on #382
@prescottprue I opened a PR at https://github.com/prescottprue/generator-react-firebase/pull/384 to fix the env issue I'm seeing.

[2021-04-23 20:27] prescottprue commented on #382
Didn't get a chance to test the full actions flow yesterday

Nope, you aren't doing anything wrong, I just never came back to fully update that Syntax after it changed on the Github Actions side. I'm going to do a bit more testing here to make sure the CI flows are working. Thanks again, super helpful!

[2021-04-26 20:09] mikeover commented on #382
@prescottprue Any updates on the testing? With these changes the github action now succeeds for me but there is something wrong with the deploy itself as I end up with a blank page and `Uncaught (in promise) FirebaseError: Installations: Missing App configuration value: "projectId" (installations/missing-app-config-values).` in the console.

[2021-05-01 16:59] prescottprue commented on #382
Hey @mikeover I forgot to update, but i went through with the testing and didn't have an issue in a test project, [here is the successful deploy](https://github.com/prescottprue/firething/runs/2483077068?check_suite_focus=true).

What is the branch name for the build that was run? Do you have Did you check the CI logs to see which configs were loaded? This is dependent on matching aliases in `proj

[2021-05-01 17:00] prescottprue opened #391 "bug: Missing App configuration value: "projectId""
**Describe the bug**

`Uncaught (in promise) FirebaseError: Installations: Missing App configuration value: "projectId" (installations/missing-app-config-values)`
As [described here by @mikeover](https://github.com/prescottprue/generator-react-firebase/issues/382#issuecomment-827111702)

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior/code**
A clear and concise description o

[2021-05-02 03:19] prescottprue commented on #391
[v8.0.0](https://github.com/prescottprue/generator-react-firebase/releases/tag/v8.0.0) was released with a bunch of major changes including how config is loaded in CI - @mikeover please reach out if you duplicate this issue with the new version

[2021-05-03 13:21] mikeover commented on #391
@prescottprue Trying this today, initially my github deploy action is failing with:
[code]

[2021-05-03 16:22] prescottprue commented on #391
@mikeover Thanks for such a quick response! Thats weird... Were any messages writing to your functions logs in the console?

You should be able to add the following to your CI config to archive the log files that Firebase generates:

[code]

On that note, I'm going to add ^ to the deploy workflow in the generator for future debugging 🚀

[2021-05-03 23:34] mikeover commented on #391
@prescottprue I'm not sure I understand your question but I added that step after the deploy but all it gave me was

[code]

[2021-05-03 23:42] mikeover commented on #391
Note also that trying to just deploy that function from the command line via `firebase deploy --only "functions:indexUser"` yields:
[code]

[2021-05-04 00:08] mikeover commented on #391
Fixed with this change and ready to roll:

[code]

[2021-05-05 04:12] prescottprue commented on #391
The engines should be [set to 14.0.0 with v8.0.0 of the generator](https://github.com/prescottprue/generator-react-firebase/blob/master/generators/app/templates/functions/package.json#L7-L9) which matches what the newer versions of firebase-tools should, so not sure why that wouldn't be picked up correctly. Was this from your local machine or in CI? If it was from your local it could be due to an

[2021-05-05 04:23] #391 closed

[2021-05-05 04:24] prescottprue commented on #215
This was reported quite a while back and I was never able to reproduce. The generator now defaults to non redux and uses reactfire

Please reach out if you are still experiencing issues

[2021-05-05 04:24] #215 closed

[2021-05-26 21:07] ulfsv opened #419 "Before starting is missing steps!"
I saw that the before starting is missing steps that are included in the local readme:

## Before Starting
1. Make sure you have `firebase-tools` installed an you are logged in (`firebase login`)
1. Create a project within the Firebase Console (or have one prepared to use)
1. Confirm billing is enabled for your project
1. Confirm [Firebase Hosting API](https://console.cloud.google.com/apis/library

[2021-05-26 22:46] Molnfront opened #420 "Cloud function for the Firebase Cloud Messaging?"
I assume you have to build a Cloud function for the Firebase Cloud Messaging  trusted server environment where your server logic runs (https://firebase.google.com/docs/cloud-messaging/server#choose) and not only enable the APIs?

Are there any best practice and things to keep in mind to integrate it with the boilerplate?

From the README:
"Enable APIs for features which were opted into:
Firebase C

[2021-05-28 14:42] Molnfront opened #423 "signInAnonymously"
**Is your feature request related to a problem? Please describe.**
Yes, I going to have an app with public facing list and drill down to items before they have to login or sign up, and it looks as if its extremely difficult to get the rules right in Firestore to make it work in the app. So one solution could be to allow anonymous users which then can get converted to real users.

People that wants

[2021-06-07 12:33] Molnfront commented on #423
Ok, no need anymore for this, solved it with firestore rules and the redirect auth route.

[2021-06-07 12:33] #423 closed

[2021-06-07 21:04] mikeover opened #427 "dependabot failing due to SERVICE_ACCOUNT missing"
Dependabot fails with the following error:
`Throw a clear error if SERVICE_ACCOUNT secret is not set`

I've tried setting a `SERVICE_ACCOUNT` secret but I haven't figured it out yet.

[2021-06-18 17:37] mikeover commented on #427
@prescottprue any thoughts on this? probably an easy fix that I can't seem to figure out.

[2021-07-12 03:37] prescottprue commented on #419
The main README was just covering what is needed for running the generating itself, but that said, want to make sure others aren't confused - I'll add. Thanks for calling out

[2021-07-16 21:19] prescottprue commented on #419
Updated in v8.2.0, thanks for reporting!

[2021-07-16 21:19] #419 closed

[2021-07-16 21:20] prescottprue commented on #427
@mikeover v8.2.0 includes separate workflows for dependabot which skip stages which require secrets - planning on trying to remove the requirement of secrets and a few more places, so that dependabot workflow should expand over time. Thanks for reporting!

[2021-07-16 21:20] #427 closed

[2021-08-26 19:55] mikeover opened #477 "Issues after updating to reactfire 4 and firebase 9"
Please see the issue I raised at: https://github.com/FirebaseExtended/reactfire/issues/433.

I went through the upgrade process but was having issues. I took the example stackblitz at https://stackblitz.com/edit/reactfire-v4-issue-433?file=index.js and replaced my local `index.jsx` (generated from this project), but having the same result.

It runs fine locally with `yarn start` but deploying to f

[2021-09-13 20:52] prescottprue opened #488 "Update functions to use rules-unit-testing v2"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-09-13 20:54] prescottprue opened #489 "Logout causes uid error on Account Page"
**Describe the bug**

"uid of null" error is produced when logging out of the account page

**To Reproduce**
Steps to reproduce the behavior:

Logout from account page

**Expected behavior/code**
Should not cause error

**Possible Solution**

Should be able to be addressed with a simple auth wrapper - note that this changes with newer versions of reactfire

**Additional Context/Screenshots**

[2022-01-11 05:34] andreaherrera2316 commented on #211
I got this issue when I deleted the "Browser key (auto created by Firebase)" in the google cloud console, so in order to solve I created a new firebase project and linked it to my existing app.